<?xml version="1.0" encoding="UTF-8"?>

<included>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="TRACE_LOG_PATTERN" value="[appName:${springAppName},traceId:%X{traceId:-},spanId:%X{spanId:-},parentId:%X{parentId:-}]"/>
    <property scope="context" name="LOG_FILE_NAME" value="${logFileName}" />

    <contextListener class="com.base.logging.LoggerStartupListener"/>

    <appender name="FIX_WINDOW_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/java/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/java/${LOG_FILE_NAME}-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <charset>utf-8</charset>
            <pattern>%date %level ${TRACE_LOG_PATTERN} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.validation" level="ERROR"/>
    <logger name="org.hibernate.engine.jdbc.spi" level="ERROR" />
    <logger name="org.hibernate.engine.internal" level="ERROR" />
    <logger name="org.hibernate.orm.deprecation" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="FIX_WINDOW_BASED_FILE"/>
    </root>

</included>
